.maincom {
  max-width: 20%;
  margin: auto;
}
.maincom input {
  padding: 2px 45px 5px 45px;
  border-radius: 5px;
  border-color: yellow;
}
.maincom button {
  background-color: yellow;
  border-radius: 1rem;
  margin-top: 5px;
}
